<div class="center-xy">
	<table class="striped  list-table" >
		<thead>
			<tr>
				<th>ID</th>
				<th>First</th>
				<th class="hide-on-small-only">Last</th>
				
			</tr>
		</thead>
		<tbody>
			<tr v-for="x in [].constructor(10)">

				<td>99</td>
				<td class="">test</td>
				<td class="hide-on-small-only">test</td>
				<td class="right-align">
					
					<router-link to="/list/view/99" class="btn-small waves-effect waves-light" style="margin: 2px 5px">
						<span class="hide-on-small-only">View</span>
						<i class="material-icons hide-on-med-and-up">edit</i>
					</router-link >
					<button v-if="account.logged"
					class="btn-small waves-effect waves-light red" style="margin: 2px 5px">
						<span class="hide-on-small-only">Delete</span>
						<i class="material-icons hide-on-med-and-up">delete</i>
					</button>
					
					
				</td>
			</tr>
		</tbody>
	</table>
</div>