<div class="center-xy">
	<table class="striped  list-table" >
		<thead>
			<tr>
				<th>#</th>
				<th>First</th>
				<th class="hide-on-small-only">Last</th>
				
			</tr>
		</thead>
		<tbody>
			<tr v-for="(x, i) in list" key="x.id">

				<td >{{((page-1)*10)+(i+1)}}</td>
				<td class="">{{x.fname}}</td>
				<td class="hide-on-small-only text-cap">{{x.lname}}</td>
				<td class="right-align">
					
					<router-link title="view" :to="'/list/view/'+x.id" class="btn-small waves-effect waves-light" style="margin: 2px 5px">
						<span class="hide-on-small-only">View</span>
						<i  class="material-icons hide-on-med-and-up">visibility</i>
					</router-link >
					<button @click="deletePerson(x.id)"
					v-if="account.logged"  title="delete"
					class="btn-small waves-effect waves-light red" style="margin: 2px 5px">
						<span class="hide-on-small-only">Delete</span>
						<i class="material-icons hide-on-med-and-up">delete</i>
					</button>
					
					
				</td>
			</tr>
		</tbody>
	</table>
</div>